:root {
  box-sizing: border-box;
  --gameboard-width: 600px;
  --gameboard-height: 600px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameboard {
  width: var(--gameboard-width);
  height: var(--gameboard-height);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  background-color: black;
  grid-gap: 1px;
}

.tile {
  background-color: white;
}

.info {
  position: absolute;
  top: 75px;
}

.invisible {
  visibility: hidden;
}
